/* some styles for the hamburger menu */
.bm-menu {
  background: #171717; 
  padding: 1.5rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.bm-item-list a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.bm-item-list a:hover {
  color: #00e1ff;
}


.bm-burger-button {
  position: relative;
  width: 20px;
  height: 10px;
}


.bm-burger-bars {
  background: #ffffff;
}


nav {
  flex: 1; 
}

nav ul {
  justify-content: flex-end; 
}


.bm-burger-button {
  display: block;
}

@media (min-width: 768px) {
  .bm-burger-button {
    display: none; 
  }
}


@media (max-width: 767px) {
  nav.md\\:flex {
    display: none;
  }
}
